.login-wrapper .login-img {
    text-align: center !important;
    background-color: #1c4d68;
}

.login-img img {
    width : 50% !important;
    height : 60% !important;
    text-align: center !important;
    margin-top : 18%;
}